ol {
  font-size: 30px;
  text-align: center;
  color: rgb(105, 86, 123);
}

ul {
  font-size: 30px;
  text-align: center;
  color: rosybrown;
}
.ul2 {
  font-size: 30px;
  text-align: center;
  color: rgb(206, 33, 33);
}

.how2 {
  color: deeppink;
}
