/* flag1  */

.flag {
  background-image: linear-gradient(
    to bottom,
    #e26226 33.33%,
    #dee5ff 0%,
    #dee5ff 66.66%,
    #00ff00 0%
  );
  height: 500px;
  width: 500px;
  justify-content: center;
}

.chakra {
  height: 100px;
  width: 100px;
  background-color: blue;
  background-image: repeating-radial-gradient(
    rgb(255, 255, 255) 10%,
    rgb(27, 19, 236) 15%
  );
  border-radius: 50%;
  position: relative;
  top: 200px;
  left: 200px;
}

/* flag 2 */

.flag2 {
  background-image: repeating-linear-gradient(
    to top,
    rgb(225, 34, 34),
    rgb(225, 34, 34) 15px,
    rgb(255, 255, 255) 10px,
    rgb(255, 255, 255) 30px /* determines size */
  );
  height: 300px;
  width: 500px;
  justify-content: center;
}

.chakra2 {
  height: 130px;
  width: 130px;
  background-color: #082e6d;
  /* background-image: repeating-radial-gradient(
    rgb(255, 255, 255) 10%,
    rgb(27, 19, 236) 15%
  );
  border-radius: 50%; */
  position: relative;
  top: 15px;
  /* top: 200px;
  left: 200px; */
}

/* flag1  */

.flag3 {
  background-image: radial-gradient(
    #f10c0c 10.33%,

    #ae6363 10.33%,
    #ae6363 20.33%,
    #3d6ce3 20.33%,
    #3d6ce3 20.33%,
    45.33%,
    #dee5ff 0%,
    #dee5ff 55.66%,
    #ddff00 0%
  );
  height: 500px;
  width: 500px;
  justify-content: center;
  border-radius: 50%;
}

/* .chakra4 {
  height: 100px;
  width: 100px;
  background-color: blue;
  background-image: repeating-radial-gradient(
    rgb(255, 255, 255) 10%,
    rgb(27, 19, 236) 15%
  );
  border-radius: 50%;
  position: relative;
  top: 200px;
  left: 200px;
} */

.flag4 {
  background: repeating-radial-gradient(
    black,
    black 5px,
    white 5px,
    white 10px
  );
  height: 500px;
  width: 500px;
  justify-content: center;
  border-radius: 50%;
}
/* .flag5 {
  height: 500px;
  width: 500px;
  background-image: conic-gradient(
    from 90deg at 0 0,
    rgb(105, 105, 138),
    rgb(34, 255, 0)
  );
} */

/* A conic gradient rotated 45 degrees,
   starting blue and finishing red */
/* conic-gradient(from 45deg, blue, red); */

/* A bluish purple box: the gradient goes from blue to red,
   but only the bottom right quadrant is visible, as the
   center of the conic gradient is at the top left corner */
/* conic-gradient(from 90deg at 0 0, blue, red); */

/* Color wheel */
/* background: conic-gradient(
    hsl(360, 100%, 50%),
    hsl(315, 100%, 50%),
    hsl(270, 100%, 50%),
    hsl(225, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(135, 100%, 50%),
    hsl(90, 100%, 50%),
    hsl(45, 100%, 50%),
    hsl(0, 100%, 50%)
  ); */

.flag5 {
  height: 500px;
  width: 500px;
  /* background-color: #00ff00; */
  /* background-image: repeating-conic-gradient(white, white 2%, blue 2%),
    blue 4.1%; */
  background-image: conic-gradient(red, yellow, green);
}
.flag6 {
  height: 500px;
  width: 500px;
  /* background-color: #00ff00; */
  /* background-image: repeating-conic-gradient(white, white 2%, blue 2%),
    blue 4.1%; */
  background-image: repeating-conic-gradient(
    rgb(244, 244, 242) 2deg 4deg,
    blue 20deg 0deg
  );
  border-radius: 50%;
}
