/* .image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container img {
  height: 100px;
  width: 100px;
} */
/* 
div {
  height: 500px;
  width: auto;
  background-image: url(https://cdn.pixabay.com/photo/2023/02/10/14/15/footprints-7780956_1280.jpg),
    url('https://cdn.pixabay.com/photo/2023/02/10/14/15/footprints-7780956_1280.jpg'),
    url('https://cdn.pixabay.com/photo/2023/02/10/14/15/footprints-7780956_1280.jpg'),
    url(https://cdn.pixabay.com/photo/2023/02/10/14/15/footprints-7780956_1280.jpg),
    url(https://cdn.pixabay.com/photo/2023/02/10/14/15/footprints-7780956_1280.jpg),
    url(https://cdn.pixabay.com/photo/2023/02/10/14/15/footprints-7780956_1280.jpg),
    url(https://cdn.pixabay.com/photo/2023/02/10/14/15/footprints-7780956_1280.jpg),
    url(https://cdn.pixabay.com/photo/2023/02/10/14/15/footprints-7780956_1280.jpg),
    url(https://cdn.pixabay.com/photo/2023/02/10/14/15/footprints-7780956_1280.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 50px 50px, 50px 50px, 50px 50px, 50px 50px, 50px 50px,
    50px 50px, 50px 50px, 50px 50px, 50px 50px;
  background-position: center, center right, center left, top right, top left,
    top center, bottom, bottom left, bottom right;
} */
